<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
    <Package Name="Nitrocid 0.2.0" Manufacturer="Aptivi" Version="0.2.0.13" UpgradeCode="b44c5027-1ced-41bb-b28f-a2f0af758fc9" Scope="perMachine">
        <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

        <Feature Id="Main" Title="Nitrocid" Level="1">
            <Feature Id="Core" Title="Nitrocid Core" Level="1" AllowAbsent="false" TypicalDefault="install">
                <ComponentGroupRef Id="FullComponent" />
                <ComponentRef Id="DesktopIcon" />
            </Feature>
            <Feature Id="Extras" Title="Nitrocid Extras" Level="1" TypicalDefault="install">
                <ComponentGroupRef Id="ExtrasComponent" />
                <Level Value="0" Condition="NOADDONS = &quot;1&quot;" />
            </Feature>
        </Feature>
        <Feature Id="AddStartMenu" Title="Add to Start Menu" Level="1" TypicalDefault="install">
            <ComponentRef Id="ApplicationProgramsFolder" />
        </Feature>
        <Feature Id="AddDesktopIcon" Title="Add to Desktop" Level="1" TypicalDefault="install">
            <ComponentRef Id="DesktopIcon" />
        </Feature>

        <Icon Id="icon.ico" SourceFile="..\..\Nitrocid\OfficialAppIcon-Nitrocid.ico"/>
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />

        <ui:WixUI
            Id="WixUI_FeatureTree"
            InstallDirectory="INSTALLFOLDER"
            />

        <netfx:DotNetCompatibilityCheck
            Property="DOTNETRUNTIMECHECK"
            RollForward="major"
            RuntimeType="desktop"
            Platform="x64"
            Version="10.0.0"
            />

        <netfx:DotNetCompatibilityCheck
            Property="DOTNETRUNTIMECHECK"
            RollForward="major"
            RuntimeType="desktop"
            Platform="arm64"
            Version="10.0.0"
            />

        <WixVariable Id="WixUILicenseRtf" Value="..\..\..\LICENSE.RTF"/>
    </Package>
</Wix>
