name: API Documentation

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: "Make API Reference"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Fetching the source
        with:
          submodules: 'true'
          ref: ${{ github.ref }}
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      - name: Add GitHub Package Registry to get access to beta builds
        run: dotnet nuget add source --username AptiviCEO --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/Aptivi/index.json"
      - name: Setup DocFX
        run: dotnet tool install --global docfx
      - name: Generating Documentation
        run: |
          make rel-ci
          make doc
      - name: Saving changes to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          commit_message: "Updated documentation to reflect latest changes"
          personal_token: ${{ secrets.DOCGEN_TOKEN }}
          publish_dir: ./docs/
          publish_branch: gh-pages
